<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student</title>
    <link rel="stylesheet" href="css/colors.css">
   <link rel="stylesheet" href="css/taxi.css">
    <link rel="stylesheet" href="css/customer.css">
    <script src="/vue/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
   <script src="js/student.js" defer></script>
   </head>
  <body id="body">
    <div>this is the studentpage</div>
  </body>
</html>
