<html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Teacher</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="js/teacherpage.js" defer></script>
  <script src="/socket.io/socket.io.js"></script> 
  <script src="https://unpkg.com/vue-poll/dist/vue-poll.min.js"></script>
  
  <div id="teacher">
    <h1>Teacher Page</h1>
    <router-view></router-view>
  </div>
  <html>

