<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Teacher admin</title>
  <link rel="stylesheet" href="css/taxi.css">
  <script src="/vue/vue.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/student.js" defer></script>
  <script src="js/teacher.js" defer></script>
</head>
<body>
  <h1>
    Teacher Admin
  </h1>
  <div id="page">
 </div>
</body>
</html>
