@import "https://www.w3schools.com/w3css/4/w3.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700";

h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #565656; 
}

h1 { 
  color: #565656; 
  font-family: 'Trocchi', serif; 
  font-size: 45px; 
  font-weight: normal; 
  line-height: 48px; 
  margin: 0; 
}

h2 { 
  color: #565656; 
  font-family: 'Trocchi', serif; 
  font-size: 28px; 
  font-weight: 400; 
  line-height: 32px; 
  margin: 10 10 24px; 
  text-align:center; 
}

.subheader { font-size: 26px; font-weight: 300; color: #5b97f0; margin: 0 0 24px; font-family: 'Montserrat', sans-serif;}

html {
  display: table;
  margin: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding-top: 50px;
  background-color: #EEEEEE;
  display: table-cell;
  vertical-align: middle;
}

.disabled {
  pointer-events:none; 
  opacity:0.6;        
}

nav {
  padding: 20px 20px 20px 0;
}

nav a {
  padding: 10px;
  text-decoration: none;
  background: #fff;
  border-radius: 3px;
  color: rgb(0, 110, 255);
  font-weight: bold;
  margin-right: 15px;
}

body:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}

button {
  background: #5b97f0;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  width: 100%;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-top: 10px;
  border-radius: 5px;
}

button:hover{
  background:#fff;
  color: #3cb0fd;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #3cb0fd;
  /*background: #1AAB8A;*/
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

input {
  text-align: center;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 20px 0;
  font-size: 1.3em;
  background-color: #323333;
  color: #687F7F;
}

textarea {
  text-align: center;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 20px 0;
  font-size: 1.3em;
  background-color: #323333;
  color: #687F7F;
}


.holder {
  background: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  padding: 20px;
  font-size: 1.3em;
  background-color: #E0EDF4;
  border-left: 5px solid #3EB3F6;
  border-radius: 4px;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3E5252;
}

ul li.groups {
  text-align: center; 
  width: 100%;
  border-left: 5px solid #E0EDF4;
}

ul.summaryList li {
  width: 475px;
}

p {
  text-align:center;
  padding: 30px 0;
  color: gray;
}

i {
  float:right;
  cursor:pointer;
}

.container {
  box-shadow: 0px 0px 40px lightgray;
}


.smallbutton {
   width: 30%;
   position: relative; 
}

#contain{width:100%}
#left {
  position: relative;
  float: left;
  width: 49%;
  margin-right: 2px;
}

#right {
  float: right;
  width: 49%; 
  margin-left: 2px;
}

#center{
  margin: 0 auto;
}


#boldtext {
  font-weight: bold;
}

/* for workshop page */

.workshopbutton {
  border-radius: 4px;
  width: 100%;
  height: 100px;
  margin-left: 0;
  margin-right: 0;
}


.text {
  white-space: pre-wrap; 
  word-wrap: break-word;
  text-align: center;
  font-family: inherit;
}

#student {
  width: 1000px;
}

#teacher {
  width: 800px;
}

 

/* Grid system  */

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, [col] 270px ) ;
  grid-template-rows: repeat(2, [row] auto  );
  background-color: #fff;
  color: #444;

}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;

}

.box .box {
  background-color: #EEEEEE;
  /*background-color: #E0EDF4;
  background-color: #ccc;*/
  color: #444;
}

.a {
  grid-column: col / span 2;
  grid-row: row;
}

.b {
  grid-column: col 3 / span 2;
  grid-row: row;
}

.c {
  grid-column: col / span 2;
  grid-row: row 2;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.d {
  grid-column: col 3 / span 2;
  grid-row: row 2;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.e {
  grid-column: 1 / 3;
  grid-row: 1;
}

.f {
  grid-column: 1 / 3;
  grid-row: 2;
}

.g {
  grid-column: 1 / 3;
  grid-row: 1;
}

.h {
  grid-column: 1 / 3;
  grid-row: 2;
}


