@import "https://www.w3schools.com/w3css/4/w3.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700";

html {
  display: table;
  margin: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding-top: 50px;
  background-color: #EEEEEE;
  display: table-cell;
  vertical-align: middle;
}
/*
body {
  background-color: #EEEEEE;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  padding-top: 50px;
}
*/
nav {
  padding: 20px 20px 20px 0;
}

nav a {
  padding: 10px;
  text-decoration: none;
  background: #fff;
  border-radius: 3px;
  color: rgb(0, 110, 255);
  font-weight: bold;
  margin-right: 15px;
}

.button {
  border-radius: 4px;
  width: 800px;
  height: 200px;
  margin-left: 0;
  margin-right: 0;
  background: #5b97f0;
  background-image: linear-gradient(to bottom, #5b97f0, #2980b9);
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 50px;
  padding: 9px 25px 10px 25px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

input {
  text-align: center;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 20px 0;
  font-size: 1.3em;
  background-color: #323333;
  color: #687F7F;
}

textarea {
  text-align: center;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 20px 0;
  font-size: 1.3em;
  background-color: #323333;
  color: #687F7F;
}


.holder {
  background: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  padding: 20px;
  font-size: 1.3em;
  background-color: #E0EDF4;
  border-left: 5px solid #3EB3F6;
  border-radius: 4px;
  margin-bottom: 2px;
  color: #3E5252;
}

ul li.groups {
  width: 50%;
  background-color: lavender;
  border-left: 5px solid purple;
  padding: 20px;
  font-size: 1.3em;
  border-radius: 4px;
  margin-bottom: 2px;
  color: #3E5252;
}
p {
  text-align:center;
  padding: 30px 0;
  color: gray;
}

i {
  float:right;
  cursor:pointer;
}

.container {
  box-shadow: 0px 0px 40px lightgray;
}


#smallbutton {
  border-radius: 4px;
  width: 30%;
  margin-left: 0;
  margin-right: 0;
  background: #5b97f0;
  background-image: linear-gradient(to bottom, #5b97f0, #2980b9);
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 9px 25px 10px 25px;
  text-decoration: none;
}

#smallbutton:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/* for workshop page */

.workshopbutton {
  border-radius: 4px;
  width: 40%;
  height: 200px;
  margin-left: 0;
  margin-right: 0;
  background: #5b97f0;
  background-image: linear-gradient(to bottom, #5b97f0, #2980b9);
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 50px;
  padding: 9px 25px 10px 25px;
  text-decoration: none;
}

.workshopbutton:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.text {
  white-space: pre-wrap; 
  word-wrap: break-word;
  text-align: center;
  font-family: inherit;
}

#student {
  width: 900px;
}

#teacher {
  width: 800px;
}
