<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="/vue/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/student.js" defer></script>
    <script src="https://unpkg.com/vue-poll/dist/vue-poll.min.js"></script>
  </head>
  <body>
    <div id="student">
      <h1>Ethical Competence Workshop</h1>
      <h1 class="subheader">Student Page</h1>
      <router-view></router-view>
    </div>
  </body>
</html>
